body{
    font-family: Work Sans;
    padding: 0;
}

header{
    background-color: #fff0bb;
}

/* navigation bar start from here  */

.nav-container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin: 0rem 4rem;
}

.nav-container-title{
    color: #131313;
    font-size: 2rem ;
    font-weight: 800;
}

.nav-site-links{
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    gap: 2rem;
    color: #424242;
}

.nav-site-links a{
    text-decoration: none;
}

.nav-site-links a:hover{
    color: blueviolet;
}

.nav-site-links a:active{
    color: chocolate;
}

/* navigation bar end from here  */

/* banner section styles start from here  */
.banner-container{
    margin: 2rem 4rem;
    text-align: center;
}

.banner-content-text{
    width: 80%;
    height: auto;
    margin: auto;
}

.banner-content-text-title{
    color: #131313;
    font-size: 2rem;
    font-weight: 900;
}

.banner-content-description{
    color: #727272;
    font-size: 0.8rem;
    font-weight: 600;
}

.banner-btn{
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #FF900E;
    color: white;
    margin-bottom: 2rem;
}

.banner-btn:hover{
    background-color: #a75c06;
}

.banner-img-content img{
    width: 90%;
    height: auto;
    padding: 2rem;
}
/* banner section styles end from here  */

/* our features container styles start from here  */
.our-features-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 3rem 4rem;
}

.our-features-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
}

.our-features-images img{
    width: 100%;
    height: auto;
}

.our-features-content-text{
    width: 60%;
}

.our-features-title{
    font-size: 2rem;
    font-weight: 800;
}

.quick-list-text{
    color: #727272;
}

.features-text{
    color: #FF900E;
}

.our-features-description{
    color: #727272;
    font-size: 0.9rem;
    font-weight: 600;
}

.our-features-btn{
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #FF900E;
    color: white;
    margin-bottom: 2rem;
}

.our-features-btn:hover{
    background-color: #a65c06;
}
/* our features container end  */
/* our experience container start  */

.our-experience-container{
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 1rem;
    margin: 3rem 4rem;
    position: absolute;
}

.our-experience-title{
    padding: 1rem;
    border-left: #FF900E solid 0.5rem;
}

.our-experience-image{
    width: 100%;
}

.our-experience-image img{
    width: 100%;
}

.our-experiences{
    padding: 0.1rem 0.1rem;
    /* box-shadow: 0rem 0rem 0.3rem 0.1rem #727272; */
    border: none;
    border-radius: 0.5rem;
}
.our-experiences:hover {
    box-shadow: 0rem 0rem 0.3rem 0.1rem #727272;
    border: none;
    border-radius: 0.5rem;
    pointer-events: painted;
}

.ten-year-text{
    position: relative;
    top: -20%;
    bottom: 0%;
    right: 10%;
}

.tex-ten-years{
    padding: 1rem;
    background-color: #FF900E;
    color: white;
    text-align: center;
    width: 40%;
    border: none;
    border-radius: 0.5rem;
}

.experience-text{
    font-size: 16px;
}

/* Responsive for small devices  */

@media (max-width: 576px) {
    /* nav and banner  */
    .nav-container {
        flex-direction: column;
        margin: 0 1rem;
        gap: 1rem;
        align-items: flex-start;
    }
    .nav-site-links {
        flex-wrap: wrap;
        gap: 1rem;
        align-items: flex-start;
    }
    .banner-container {
        margin: 1rem;
    }
    .banner-content-text {
        width: 100%;
    }
    .banner-content-text-title {
        font-size: 1.5rem;
    }
    .banner-img-content img {
        padding: 1rem 0;
    }
    /* banner and nav end  */
    /* our features start  */

    .our-features-container{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 3rem 4rem;
    }

    .our-features-content-text{
    width: 100%;
    }
    /* our features end  */
    /* our experience container start  */
    .our-experience-container{
        flex-direction: column-reverse;
    }
    .tex-ten-years{
        width: auto;
    }
    /* end of the our experience container  */
}

/* Responsive for medium devices  */
@media (min-width: 577px) and (max-width: 992px) {
    /* banner and nav start  */
    .nav-container {
        margin: 0 2rem;
        gap: 1.5rem;
    }
    .banner-container {
        margin: 1.5rem 2rem;
    }
    .banner-content-text {
        width: 90%;
    }
    .banner-content-text-title {
        font-size: 1.75rem;
    }
    .banner-img-content img {
        padding: 1.5rem;
        width: 90%;
    }
    /* banner and nav end  */
    /* our features start  */
    .our-features-container{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 3rem 4rem;
    }

    .our-features-content-text{
    width: 100%;
    }
    /* our features end  */
    /* our experience container start  */
    .our-experience-container{
        flex-direction: column-reverse;
    }
    .tex-ten-years{
        width: auto;
    }
    /* end of our experience container  */
}
    
